.tqlogo{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 50%;

}
.about{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
}
.Pics{
  margin-top: 20px;
}
#lcaballero {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 200px;
}

#agonzalez {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 200px;
}

#dpennaman {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 200px;
}

#qosuchukwu {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 200px;
}
h1{
  font-family: sans-serif;
  color: #00ADEF;
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}
h2{
  font-family: sans-serif;
  color: #00ADEF;
  text-align: center;
}
p{
  font-family: sans-serif;
  color: gray;
  font-size: 18px;
  padding: 1rem;
  justify-content: center;
}
