* {
  margin: 0;
}

.App {
  background-color: #f9fcff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#trivialogo {
  animation: fadein 2s;
}
.App-header {
  height: 0vh;
  width: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 40px;
  border: 0px black solid;
  box-shadow: 0px 0px 10px orange;
  animation-name: fadein2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  margin-top: -80px;
}
@keyframes fadein {
  from{opacity: 0;}
  to {opacity:1;}
}
@keyframes fadein2 {
  0% {opacity: 0; width: 0px; height: 0px; background-color: red;}
  50% {opacity: .5; width: 50vw; height: 0px; background-color: purple;}
  100% {opacity: 1; width: 50vw; height: 27vh;   background-color: rgba(0, 173, 239, 0.8); border: 1px orange solid;}


    /* from { opacity: 0; }
    to   { opacity: 1; } */
  }

@keyframes slidein {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 100px;
    width: 200px;
  }
}

@keyframes pulse {
  0%, 100% {
    background-color: #00ADEF;
  }
  50% {
    background-color: red;
  }
}
.App-link {
  color: #61dafb;

}
.MainContent {

  height: 55vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
footer {
  background-color: #00ADEF;
    box-shadow: 0px -2px 8px -1px orange;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Josefin Sans', cursive;
  color: white;
    padding: 0px 0px 0px 0px;
    margin-top: 1px;
  display: block;
  height: 30.5vh;
  animation: fadein 2s;
  position: relative;
}
#footstamp {
  margin-top: 5%;
  padding: 20px 20px;
}
#footpolicies {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  width: 25%;
}
#US {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 24%;
  justify-content: space-between;
  width: 30%;
  margin-top: 6%;
  padding: 20px;
  padding-left: 1%;
}
#followus {
}
#TQ {
  display: flex;
  width: 300px;
  height: 15%;
  justify-content: center;
  margin-top: -8.5%;
  margin-left: 60%;
  padding-left: 40px;
}
#footlogos {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin-top: -6%;
  margin-left:64.0%;
  padding-left: 1%;
  padding-right: 1%;
  width: 225px;
}
#twitterlogo {
  padding: 10px;
  font-size: 37px;
  width: 37px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  animation: fadein 2s;
}
#fblogo {
  padding: 10px;
  font-size: 37px;
  width: 37px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  animation: fadein 3s;
}
#instalogo {
  padding: 10px;
  font-size: 37px;
  width: 37px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  animation: fadein 4s;
}
#youlogo {
  padding: 10px;
  font-size: 37px;
  width: 37px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  animation: fadein 5s;

}
